{
  "plugins": {
    "lint": {}, 
    "klocwork": {},
    "my_example": {
    		    "charMetricsFile" : [ "C:\\", "Demo", "Dashboard", "lab_source_code", "char_metrics_manager_diner.txt" ]
		  },
    "my_example_file": {
    		         "annotationRoot" : "C:/Demo/Dashboard/lab_source_code",
        		 "annotationDirectories" : [ "my_annotations" ],
        		 "extensionMarker" : ".",
        		 "extension" : "txt"
    		       },
    "my_example_function": {
    		             "annotationRoot" : "C:/Demo/Dashboard/lab_source_code",
        		     "annotationDirectories" : [ "my_annotations" ],
        		     "extensionMarker" : ".",
        		     "extension" : "txt"
			   }
  },
  "dashboard": "c:/demo/dashboard/lab_source_code/my_dash",
  "server": {
    "host": "0.0.0.0", 
    "session_timeout": 5, 
    "port": 8128
  }
}